#omotac {
    margin: 0;
    height: auto;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
header {
    float:left;
    background-color: darkgray;
    font-family: Arial;
    width: 100%;
    height: 100px;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:large;
}
header p a:active, header p a:visited, header p a:link{
    text-decoration:none;
    color:white;
    font-family:Arial;
} 
footer {
    float:left;
    background-color: darkgray;
    font-family: Arial;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:large;
}
table{width:100%}
table, th, td {
    border:1px solid black;
}
section {
    float: left;
    background-color: whitesmoke;
    width: 70%;
    text-align: center;
    height:100%;
}
aside {
    background-color: whitesmoke;
    width: 30%;
    float: left;
    list-style-type: none;
    height: 100%;
}

aside ul li {
    list-style-type: none;
    padding-bottom:20px;
    text-align:left;
   }

#horizontal ul, li, li li {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

#horizontal {
    width: 700px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

    #horizontal ul li {
        float: left;
        margin-left: 20px;
        color: black;
    }

    #horizontal li {
        list-style: none;
        background-color: lightgray;
        color: white;
        border-radius: 5px;
        font-size: small;
        position: static;
    }

        #horizontal li li {
            list-style: none;
            left: auto;
            bottom: auto;
            float: left;
            color: white;
        }

    #horizontal ul ul {
        display: none;
        font-size: small;
    }

    #horizontal ul :hover ul {
        display: block;
        border-radius: 5px;
    }

    #horizontal ul li a:link, ul li a:visited {
        display: block;
        width: auto;
        background-color: none;
        text-decoration: none;
        color: white;
        padding-top: 5px;
    }

    #horizontal ul li a:hover {
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        font-weight: bold;
        background-color: lightgray;
    }

    #horizontal ul li:hover ul {
        visibility: visible;
        position:absolute;
        border:1px solid black;
        background-color:lightgray;
    }


